*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.with_draw_funds{
    width: 100%;
    margin-bottom: 12px;
    .with_draw_funds_wrapper{
        width: 100%;
        max-width: 1376px;
        margin: 0 auto;
        padding: 34px 0;
        background-color: #3C3C49;
        border-radius: 30px;
        background-image: url("../images/funds_img.png");
        background-repeat: no-repeat;
        background-position: left;
        min-height: 541px;
        position: relative;
        background-size: contain;
    }
    .with_draw_funds_info_items_wrapper {
        position: absolute;
        right: 62px;
        top: 100px;
    }
    .with_draw_funds_title {
        font-family: "Montserrat",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 34px;
        padding-left: 75px;
    }
    .with_draw_funds_form_info_wrapper {
        margin-bottom: 44px;
    }
    .with_draw_funds_form {
        width: 100%;
        max-width: 444px;
        margin: 0 auto;
    }
    .with_draw_funds_form_title {
        font-family: "Montserrat",sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 22px;
    }
    .with_draw_funds_form_info {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 19px;
    }
    .with_draw_funds_form_input_field {
        background: #22292C;
        border-radius: 6px;
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #5E5E5E;
        padding: 12px;
        &::placeholder{
            font-family: "Roboto",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #5E5E5E;
        }
    }   
    .with_draw_funds_form_input_wrapper {
    
        width: 100%;
        max-width: 309px;
        margin: 0 auto;   
         margin-bottom: 16px;
    }
    .with_draw_all_available_funds_form_link {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #3EFF74;
        margin-bottom: 21px;
        display: block;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
    .with_draw_all_available_funds_form_btn {
        background: #3EFF74;
        border-radius: 8px;
        border: none;
        width: 272px;
        margin: 0 auto;
        display: block;
        font-family: "Montserrat",sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #22292C;
        padding: 13px 0;
        cursor: pointer;
        outline: none;
    }
    .with_draw_funds_info1 {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .with_draw_funds_info2 {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .with_draw_funds_info_item {
        margin-bottom: 15px;
    }
    .with_draw_funds_info_link {
        text-decoration: none;
        cursor: pointer;
        outline: none;
        width: 185px;
        display: flex;
         & span {
            font-family: "Roboto",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            flex: 1;
         }
         & svg{
             margin-right: 12px;
         }
    }
    .with_draw_funds_line {
        border: 1px solid #252531;
        width: 100%;
        max-width: 1224px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .with_draw_funds_technical_support_partner_links_wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1224px;
        margin: 0 auto;
    }
    .with_draw_funds_technical_support {
        display: flex;
        align-items: center;
    }
    .with_draw_funds_partner{
        display: flex;
        align-items: center;
    }
    .with_draw_funds_technical_support_link_info {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 5px;
    }
    .with_draw_funds_partner_link_info{
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 5px;
    }
    .with_draw_funds_technical_support_link {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #3EFF74;
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
    .with_draw_funds_partner_link{
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #3EFF74;
        text-decoration: none;
        cursor: pointer;
        outline: none;
    }
}


@media (max-width: 1400px){
    .with_draw_funds .with_draw_funds_wrapper{
        width: 95%!important;
        max-width: unset!important;
    }
}


@media (min-width: 1025px) and (max-width: 1100px){
    .with_draw_funds_info_items_wrapper {
        position: absolute;
        right: 35px!important;
        top: 100px;
    }
}

@media (max-width: 1320px){
    .with_draw_funds_line_technical_support_partner_links_wrapper {
        width: 95%;
        margin: 0 auto;
    }
}


@media (max-width: 1024px){
    .with_draw_funds_form_info_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 444px;
        margin: 0 auto;
    }
    .with_draw_funds_info_items_wrapper {
        position: unset!important;
        padding-top: 40px;
    }
}

@media (max-width: 490px){
    .with_draw_funds_technical_support_partner_links_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .with_draw_funds_technical_support {
       margin-bottom: 10px;
    }
    .with_draw_funds_form{
        max-width: unset!important;
        width: 95%!important;
        padding: 0 10px;
    }
    .with_draw_funds_wrapper{
        background-position:  top center!important;
    }

}

@media  (min-width: 426px) and (max-width: 768px){
    .with_draw_funds_wrapper{
        border-radius: 20px!important;
    }
    .with_draw_funds_form_title{
        font-size: 28px!important;
    }
    .with_draw_all_available_funds_form_btn{
        font-size: 24px!important;
    }
    .with_draw_funds2_info{
        font-size: 24px!important;
    }
}


@media  (max-width: 425px){
    .with_draw_funds2_info{
        font-size: 22px!important;
    }
    .with_draw_funds_wrapper{
        border-radius: 10px!important;
        background-size: cover!important;
    }
    .with_draw_funds_form_input_field{
        font-size: 16px!important;
        &::placeholder{
            font-size: 16px!important;
        }
    }
    .with_draw_funds_form_title{
        font-size: 24px!important;
        line-height: unset!important;
    }
    .with_draw_all_available_funds_form_btn{
        font-size: 22px!important;
        line-height: unset!important;
        padding: 10px 0!important;
    }
     .with_draw_funds_title {
        font-size: 22px!important;
        margin-bottom: 20px!important;
        padding-left: unset!important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.with_draw_funds2_info_wrapper {
    width: 100%;
    max-width: 609px;
    margin: 0 auto;
    margin-bottom: 187px;
    margin-top: 175px;
}

.with_draw_funds2_info {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 670px){
    .with_draw_funds2_info_wrapper{
        width: 100%;
        max-width: unset!important;
        padding: 0 10px;
    }
}